@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    min-height: 75rem;
    padding-top: 4.5rem;
}

@media (min-width:1200px){.container{max-width:1500px}}

footer a
{
    color: #fff;
    text-decoration: none;
}
a{
    color:#337ab7;
}
footer a:hover
{
    color: #d4bc57;
}
h1{font-size:1.4rem;}
h2{font-size: 1.3rem;}
h3{font-size:1.2rem;}
h4{font-size: 1.2rem;}
h6{color: #595858}
p,li{font-size: .8rem; color: #595858;letter-spacing: .5px;}

.navbar-brand img {
    max-width: 120px;
}
.social img
{
    margin: 10px 5px;
    width: 140px;
}

.section01
{
    background-color: #f3f3f3;
}
.section02
{
    background:url(./images/bg-free.jpg);
    background-position: top;
}
.bg-dark2
{
    background-color: #141414a3;
}

.bot a {
    background-color: #fc0;
}
.bot a:hover
{
    text-decoration: initial;
    background-color: #37a613;
    color: #fff;
}
.social .fa
{
    color:#fff;
}
.fondx
{
    background: url("./images/texture.png") ;
}
.fonc
{
    background-color: #e2e2e2 ;
}

.shadow-mobile
{
    box-shadow: 1px 3px 5px #626262;
}
.section04
{
    background:url(./images/cusco/bg-slider.jpg);
    background-position: top;
}
/*hover tours*/
.box-tours
{
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.box-tours img, .box-tours .tour_title, .box-tours .titulo-tour, .box-tours hr {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-tours .tour_title {
    position: absolute;
    top: 0%;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 36px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 2px #000;
    line-height: 28px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5) !important;
    display: inline-table;
    margin: 0 auto;
    width: 100%;
    font-weight: 600;
    line-height: 11px;
    padding-top: 3px;
}

.box-tours img
{
    width: 100%;
}

.box-tours:hover img {
    opacity: 0.5;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.box-tours:hover .titulo-tour {
    top: 48%;
    opacity: 1;
}
.box-tours:hover .tour_title {
    /* top: 36%;*/
}
.box-tours .titulo-tour {
    position: absolute;
    top: 80%;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
    opacity: 0;
}


/*end hover*/

.box-tours img {
    /* border-radius: 20px !important;*/
}
.box-map img, .box-faqs
{
    border-radius: 12px !important;
}
.btn-free
{
    background-color: #fc0;
    color:#302f2f !important;
}
.box-tours h4 {
    font-size: 1.8rem !important;
    margin-bottom: 0px;
    font-weight: 600;
}
.ui-datepicker-inline
{
    margin:0 auto;
}
.star5 .fa
{
    color: #299729;
}
.inline h3
{font-size: 1rem;
    color: #474545;
    font-weight: 600;
}
.ckeckok li
{
    font-size: 15px;
    color:#242424;
    position: relative;
}
.ckeckok li::before {
    content: '\f058';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.3em;
    color:
        #242424;
    font-size: 20px;
    position: absolute;
    top: -4px;
}

.lisok li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
}
.tour_title
{

    padding: 11px 30px;
    font-weight: 600;
}
.tour_title span
{
    font-size: .8rem;
    line-height: .8rem;
}
.box-text
{
    border:3px solid #fff;
}
.maxw
{
    max-width: 1200px;
    margin: 0 auto;
}
.maxw2
{
    max-width: 1300px;
    margin:0 auto;
}

.maxw3
{
    max-width: 1100px;
    margin:0 auto;
}

.bg-dark1 {
    background-color: #dbdbdb;
}
.card-head
{
    text-align: center;
    background-color: #337ab7;
    border-radius: 5px 5px 0px 0px;
}
.color-boxs
{
    border:3px solid #337ab7;
    border-radius: 10px;
}
.card-body {
    font-size: .9rem;
}
.card-body .fa
{
    color: #f06609;
    font-size: 1.2rem;
}
.text-free
{
    color:#f06609;
}
.bg-free
{
    background-color: #fc0 !important;
    color:#000;
}
.bg-free:hover
{
    background-color: #286090;
    color: #fff !important;
}
.telf a {
    font-size: 1rem;
}
.btn-free:hover {
    color: #fff !important;
    background-color: #37a613;
    border-color: #fff;
}
.mb.card-body{
    text-align: center;
}
.mb.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.mb.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
.mb.card{
    border-radius: 0px / 0px;
    overflow: hidden;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}
.faqs-box .fa {
    font-size: 1.6rem;
    display: block;
    margin-top: 2px;
    color: #686868;
}
.faqs-box p {

    font-size: .6rem;
    color: #3c3737;
    margin-top: 5px;
    margin-bottom: 0px;

}
.faqs-box {
    background-color: #fc0;
    text-align: center;
    border-radius: 5px;
    height: 100px;
}
.ui-datepicker-inline
{
    width: 100%;
}
/*.liswhy {
    list-style: none;
    padding-left: 1rem;
    font-size: .85rem;
}
.liswhy li::before {
    content: '\f0a1';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
}*/
.img-chaleco img
{
    max-width: 250px;
}
.cdsROW.narrow.border
{
    width: 100%;
}
.shadows
{
    box-shadow: 0px 4px 10px #534d4d;
}
.flag
{
    padding: 0px !important;
}
.liswhy li {
    font-size: .7rem;
}
.peru .flag-icon-pe
{
    font-size: 1.2rem;
}
.flag-icon-pe {
    font-size: 4.5rem;
}
.maps
{
    border:2px solid gray;
    border-radius: 10px;
}
#form button, #form h3, .book-form button
{
    background-color: #fc0;
}
.book-form label
{
    color:#000;
    font-weight: 600;
}
.horz li {
    font-size: 1rem !important;
    color:#000 !important;
    font-weight: 600;
}
.horz .resp-tab-active{
    font-size: 1.1rem !important;
}
#form .resp-tab-content
{
    border: 1px solid #453e3e !important;
}
#form button:hover {
    text-decoration: initial;
    background-color: #37a613;
    color: #fff;
}
.place-are::-moz-placeholder {
    color: red;
}
.place-are::-webkit-input-placeholder{
    color: #942828;
}

#menu-button
{
    position: absolute !important;
    top: -63px !important;
    right: -6px !important;
}
/*menu*/
#cssmenu ul ul li a:hover,#cssmenu ul ul li:hover>a {
    background-color:#fc0;
}
#cssmenu,#cssmenu #menu-button,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a {
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    line-height:1;
    display:block;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
#cssmenu,.content {
    box-sizing:border-box;
    position:relative
}
#cssmenu:after,#cssmenu>ul:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
#cssmenu #menu-button {
    display:none
}
#cssmenu {
    float:right;
    font-family:Verdana;
    line-height:1;
    width:100%
}
#menu-line {
    display:none;
    position:absolute;
    top:0;
    left:0;
    height:3px;
    background:#fff;
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out
}
#cssmenu>ul>li {
    float:left;
}
#cssmenu.align-center>ul {
    font-size:0;
    text-align:center
}
#cssmenu.align-center>ul>li {
    display:inline-block;
    float:none
}
#cssmenu.align-center ul ul {
    text-align:left
}
#cssmenu.align-right>ul>li {
    float:right
}
#cssmenu.align-right ul ul {
    text-align:right
}
#cssmenu>ul>li>a {
    padding:21px 20px;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    color:#121212;
    -webkit-transition:color .2s ease;
    -moz-transition:color .2s ease;
    -ms-transition:color .2s ease;
    -o-transition:color .2s ease;
    transition:color .2s ease 0s
}
#cssmenu>ul>li.active>a,#cssmenu>ul>li:hover>a {
    background-color:#fc0  !important;
    font-weight:600;
    color:#000;
    text-shadow:none;
}
#cssmenu>ul>li.has-sub>a {
    padding-right:25px
}
#cssmenu>ul>li.has-sub>a::after {
    position:absolute;
    top:21px;
    right:13px;
    width:4px;
    height:4px;
    border-bottom:1px solid #000;
    border-right:1px solid #000;
    content:"";
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:border-color .2s ease;
    -moz-transition:border-color .2s ease;
    -ms-transition:border-color .2s ease;
    -o-transition:border-color .2s ease;
    transition:border-color .2s ease
}
#cssmenu>ul>li.has-sub:hover>a::after {
    border-color:#000
}
#cssmenu ul ul {
    position:absolute;
    left:-9999px
}
#cssmenu li:hover>ul {
    left:auto
}
#cssmenu.align-right li:hover>ul {
    right:0
}
#cssmenu ul ul ul {
    margin-left:100%;
    top:0
}
#cssmenu.align-right ul ul ul {
    margin-left:0;
    margin-right:100%
}
#cssmenu ul ul li {
    height:0;
    -webkit-transition:height .2s ease;
    -moz-transition:height .2s ease;
    -ms-transition:height .2s ease;
    -o-transition:height .2s ease;
    transition:height .2s ease
}
#cssmenu ul li:hover>ul>li {
    height:32px
}
#cssmenu ul ul li a {
    padding:11px 20px;
    width:280px;
    font-size:12px;
    background:#fff;
    text-decoration:none;
    color:#000;
    -webkit-transition:color .2s ease;
    -moz-transition:color .2s ease;
    -ms-transition:color .2s ease;
    -o-transition:color .2s ease;
    transition:color .2s ease
}
#cssmenu ul ul li a:hover,#cssmenu ul ul li:hover>a {
    color:#000
}

#cssmenu ul ul li.has-sub>a::after {
    position:absolute;
    top:13px;
    right:10px;
    width:4px;
    height:4px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    content:"";
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition:border-color .2s ease;
    -moz-transition:border-color .2s ease;
    -ms-transition:border-color .2s ease;
    -o-transition:border-color .2s ease;
    transition:border-color .2s ease
}
#cssmenu.align-right ul ul li.has-sub>a::after {
    right:auto;
    left:10px;
    border-bottom:0;
    border-right:0;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd
}
#cssmenu ul ul li.has-sub:hover>a::after {
    border-color:#fff
}
@media all and (max-width:768px),only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),only screen and (min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min-resolution:192dpi) and (max-width:1024px),only screen and (min-resolution:2dppx) and (max-width:1024px) {
    #cssmenu {
        width:100%
    }
    #cssmenu ul {
        width:100%;
        display:none
    }
    #cssmenu > ul > li > a
    {
        padding: 10px 5px !important;
        text-align: center;
    }
    #cssmenu ul ul li a {
        text-align: center;
        font-size: 11px !important;
        padding: 10px 0px !important;
    }
    #cssmenu.align-center>ul,#cssmenu.align-right ul ul {
        text-align:left
    }
    #cssmenu ul li,#cssmenu ul li:hover>ul>li,#cssmenu ul ul li {
        width:100%;
        height:auto;
        border-top:1px solid rgba(120,120,120,.15)
    }
    #cssmenu #menu-button::after,#cssmenu #menu-button::before {
        content:'';
        right:45%;
        width:15px;
        position:absolute
    }
    #cssmenu ul li a,#cssmenu ul ul li a {
        width:100%
    }
    #cssmenu.align-center>ul>li,#cssmenu.align-right>ul>li,#cssmenu>ul>li {
        float:none;
        display:block
    }
    #cssmenu ul ul li a {
        padding:20px 20px 20px 30px;
        font-size:12px;
        color:#000;
        background:0 0
    }
    #cssmenu ul ul li a:hover,#cssmenu ul ul li:hover>a {
        color:#000
    }
    #cssmenu ul ul ul li a {
        padding-left:40px
    }
    #cssmenu ul ul,#cssmenu ul ul ul {
        position:relative;
        left:0;
        right:auto;
        width:100%;
        margin:0
    }
    #cssmenu ul ul li.has-sub>a::after,#cssmenu>ul>li.has-sub>a::after,#menu-line {
        display:none
    }
    #cssmenu #menu-button {
        display:block;
        padding:20px;
        color:#fff;
        cursor:pointer;
        font-size:12px;
        text-transform:uppercase;
        text-shadow:0 1px 1px rgba(0,0,0,1)
    }
    #cssmenu #menu-button::after {
        top:20px;
        display:block;
        height:2px;
        background:#020202
    }
    #cssmenu #menu-button::before {
        top:25px;
        display:block;
        height:6px;
        border-top:2px solid #000;
        border-bottom:4px solid #000
    }
    #cssmenu .submenu-button {
        position:absolute;
        z-index:10;
        right:0;
        top:0;
        display:block;
        border-left:1px solid rgba(120,120,120,.15);
        height:52px;
        width:52px;
        cursor:pointer
    }
    #cssmenu .submenu-button::after,#cssmenu .submenu-button::before {
        content:'';
        position:absolute;
        display:block;
        background:#0b0a0a;
        z-index:99
    }
    #cssmenu .submenu-button::after {
        top:10px;
        left:26px;
        width:1px;
        height:11px
    }
    #cssmenu .submenu-button::before {
        left:21px;
        top:15px;
        width:11px;
        height:1px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display:none
    }
}

/*slider*/
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
.carousel-item
{
    position: relative;
}
.text-slider
{
    position: absolute;
}
.text-slider {

    position: absolute;
    background-color: #0000009e;
    left: 32%;
    top: 20px;
    color: #fff;
    padding: 8px 20px;
    font-size: 1.1rem;

}
.error
{font-size: 15rem;}

.tit-carrusel2 p {
    font-size: 1rem;
    color: #000;
}
.tit-carrusel2 {
    background-color: #eee;
}
.bg-title {
    background-color:#575656;
}
.free {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff;
    font-size: 1.8rem;
    padding: 0px 1rem;
    font-weight: 600;
    border-radius: 5px 0px 0px 0px;
}

.free2 {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: rgba(0,0,0,0.5) !important;
    color: #fff;
    font-size: 1.5rem;
    padding: 0px 1rem;
    font-weight: 600;
    border-radius: 5px 0px 0px 0px;
}

.book-tour .flag-icon {
    font-size: 1.7rem;
}
.carousel-indicators li
{
    margin-right: 3px !important;
    margin-left: 3px !important;
    border-top: 6px solid transparent !important;
}
/*responsive*/
@media only screen and (max-width: 768px) {

    .section04 h2
    {
        font-size: 1.5rem;
    }
    .work
    {
        float: none !important;
    }
    .cellh
    {
        font-size: 1.3rem;
    }
    .fondx {
        font-size: 1.5rem;
    }
    .text-slider {
        right: 0px;
        font-size: 1rem;
        padding: 3px;
        left: 66px;
    }
    .navbar-nav.p-2 {
        position: absolute;
        right: 50px;
        top: 15px;}
    .box-tours
    {
        margin-bottom: 10px;}

    #cssmenu #menu-button::before {

        top: 23px;
        display: block;
        height: 12px !important;
        border-top: 4px solid #000 !important;}

    #cssmenu #menu-button::after {

        top: 15px;
        display: block;
        height: 4px;
        background: #020202;

    }

    #cssmenu #menu-button::after, #cssmenu #menu-button::before{
        content: '';
        right: 45%;
        width: 21px !important;
        position: absolute;

    }
    .navbar-brand img{
        max-width: 100px !important;
    }

}


ul.resp-tabs-list{
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
.resp-tabs-container li
{
    font-size: 1rem;
}
.testimonial .block-test
{
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    margin-top: 0px;
}
.lisok li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
}

.star5::after
{
    content: " \f005 \f005 \f005 \f005 \f006 ";
    font-family: 'FontAwesome';
    color: #e7711b;
}
.star5::after
{
    content: " \f005 \f005 \f005 \f005 \f005 ";
    font-family: 'FontAwesome';
    color: #e7711b;
}
.testimonial span
{
    font-size: .9rem;
}
.testimonial p
{
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
    text-align: justify;

}
.note
{
    font-size: .7rem;
    color: #1976d2;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #605b5b;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #605151; border-radius:0 5px 5px 5px; }

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border-color: rgba(0, 128, 128, 0.9);
    border-style: solid;
    border-width: 2px 4px 4px 1px;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
    background-image: url("./images/fondo.png");
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-color: rgba(0, 128, 128, 0.9);
    border-style: solid;
    border-width: 2px 0px 1px 4px;
    margin-right: -2px !important;
    padding: 14px 15px 15px 14px !important;  border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}
.resp-tab-item.resp-tab-active
{
    font-size: 1rem;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #DBDBDB !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

    ul.resp-tabs-list { display: none; }

    h2.resp-accordion { display: block; }

    .resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }

    .resp-accordion-closed { display: none !important; }

    .resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}


#header{
    width:100%;
    background:#000;
    background:rgba(0, 0, 0, 0.8);
    padding:5px 0;
    letter-spacing:1px;
    margin-bottom:20px;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}
#header h1{
    padding:0 20px;
    margin:5px 0;
    text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
    color:#EAEAEA;
    float:left;
    font-size:27px;
}
#backlinks{
    float:right;
    padding:0 20px;
    line-height:22px;
    font-weight:bold;
    font-size:13px;
}
#backlinks a{
    text-align:right;
    display:block;
}

/* Footer */
#footer{
    width:100%;
    position:fixed;
    padding-left:20px;
    bottom:0;
    left:0;
    line-height:20px;
    color:#888;
    font-size:13px;
    background:rgb(0, 0, 0);
    background:rgba(0, 0, 0, 0.8);
    z-index:99;
}
#footer span{
    display:block;
}

/* clearfix */
.clearfix {
    clear:both;
}

/* wrapper css */

#wrapper hgroup{
    text-align:center;
}
#wrapper h2{
    margin:5px 0;
    color:#FF6D99;
    text-shadow:1px 1px 2px #A50031;
    font-size:33px;
    font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
    font-style:italic;
    font-weight:normal;
    font-size:18px;
    text-shadow:1px 1px 0 #fff;
    color:#888;
    margin:5px 0;
}

#container{
    position:relative;
    width:1100px;
    margin:0 auto 25px;
    padding-bottom: 10px;

}
.grid{
    width:210px !important;
    min-height:100px;
    padding: 15px;
    background:#fff;
    margin:8px;
    font-size:12px;
    float:left;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);

    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
    border-bottom:1px solid #ccc;
    margin:10px 0;
    display:block;
    padding:0 0 5px;
    font-size:17px;
}
.grid .meta{
    text-align:right;
    color:#777;
    font-style:italic;
}
.grid .imgholder img{
    max-width:100%;
    background:#ccc;
    display:block;
}

@media screen and (max-width : 1240px) {
    body{
        overflow:auto;
    }
}
@media screen and (max-width : 900px) {
    #backlinks{
        float:none;
        clear:both;
    }
    #backlinks a{
        display:inline-block;
        padding-right:20px;
    }
    #wrapper{
        margin-top:90px;
    }
}
